openapi: 3.0.3
info:
  title: Alloy Bank Accounts Groups API
  description: 'The Alloy API is the programmatic surface for Alloy''s identity decisioning

    platform. It exposes the resources behind Alloy''s KYC, KYB, AML, fraud,

    credit, and ongoing-monitoring workflows used by banks, credit unions, and

    fintechs.


    The API is organized around evaluations, journey applications, entities

    (persons and businesses), bank accounts, documents, events, cases,

    investigations, custom lists, published attributes, and webhooks. Sandbox

    and production environments are exposed as two distinct base URLs.

    '
  version: '1.0'
  contact:
    name: Alloy Developer Support
    url: https://help.alloy.com
  license:
    name: Proprietary
    url: https://www.alloy.com/tos
servers:
- url: https://sandbox.alloy.co/v1
  description: Sandbox environment
- url: https://api.alloy.co/v1
  description: Production environment
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Groups
  description: Entity groups and group-level evaluations.
paths:
  /groups/{entity_token}:
    parameters:
    - name: entity_token
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Groups
      summary: Get Groups for an Entity
      operationId: getGroups
      responses:
        '200':
          description: Groups
  /groups/{group_token}/evaluations:
    parameters:
    - name: group_token
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Groups
      summary: Run a Group Evaluation
      operationId: postGroupEvaluation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Group evaluation created
  /groups/{group_token}/notes:
    parameters:
    - name: group_token
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Groups
      summary: Add a Note to a Group
      operationId: postGroupNote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
      responses:
        '201':
          description: Note created
components:
  schemas:
    Note:
      type: object
      properties:
        note_token:
          type: string
        body:
          type: string
        created_at:
          type: string
          format: date-time
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication with workflow or account-level API key as username and secret as password.
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token obtained via the OAuth endpoints.
