openapi: 3.0.3
info:
  title: Alloy Bank Accounts Portfolio Evaluations API
  description: 'The Alloy API is the programmatic surface for Alloy''s identity decisioning

    platform. It exposes the resources behind Alloy''s KYC, KYB, AML, fraud,

    credit, and ongoing-monitoring workflows used by banks, credit unions, and

    fintechs.


    The API is organized around evaluations, journey applications, entities

    (persons and businesses), bank accounts, documents, events, cases,

    investigations, custom lists, published attributes, and webhooks. Sandbox

    and production environments are exposed as two distinct base URLs.

    '
  version: '1.0'
  contact:
    name: Alloy Developer Support
    url: https://help.alloy.com
  license:
    name: Proprietary
    url: https://www.alloy.com/tos
servers:
- url: https://sandbox.alloy.co/v1
  description: Sandbox environment
- url: https://api.alloy.co/v1
  description: Production environment
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Portfolio Evaluations
  description: Bulk re-evaluations across a portfolio of entities.
paths:
  /portfolio-evaluations:
    post:
      tags:
      - Portfolio Evaluations
      summary: Create a Portfolio Evaluation
      operationId: postPortfolioEvaluation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Portfolio evaluation created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioEvaluation'
  /portfolio-evaluations/{portfolio_evaluation_token}/rerun:
    parameters:
    - name: portfolio_evaluation_token
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Portfolio Evaluations
      summary: Rerun a Portfolio Evaluation
      operationId: postPortfolioEvaluationRerun
      responses:
        '201':
          description: Portfolio evaluation rerun
components:
  schemas:
    PortfolioEvaluation:
      type: object
      properties:
        portfolio_evaluation_token:
          type: string
        status:
          type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication with workflow or account-level API key as username and secret as password.
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token obtained via the OAuth endpoints.
