openapi: 3.0.3
info:
  title: Alloy Bank Accounts Journeys API
  description: 'The Alloy API is the programmatic surface for Alloy''s identity decisioning

    platform. It exposes the resources behind Alloy''s KYC, KYB, AML, fraud,

    credit, and ongoing-monitoring workflows used by banks, credit unions, and

    fintechs.


    The API is organized around evaluations, journey applications, entities

    (persons and businesses), bank accounts, documents, events, cases,

    investigations, custom lists, published attributes, and webhooks. Sandbox

    and production environments are exposed as two distinct base URLs.

    '
  version: '1.0'
  contact:
    name: Alloy Developer Support
    url: https://help.alloy.com
  license:
    name: Proprietary
    url: https://www.alloy.com/tos
servers:
- url: https://sandbox.alloy.co/v1
  description: Sandbox environment
- url: https://api.alloy.co/v1
  description: Production environment
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Journeys
  description: Multi-step decisioning journeys, applications, batches, and reviews.
paths:
  /journeys/{journey_token}/applications:
    parameters:
    - name: journey_token
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Journeys
      summary: Create a Journey Application
      operationId: postJourneyApplication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Journey application created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JourneyApplication'
  /journeys/{journey_token}/applications/{journey_application_token}:
    parameters:
    - name: journey_token
      in: path
      required: true
      schema:
        type: string
    - name: journey_application_token
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Journeys
      summary: Get a Journey Application
      operationId: getJourneyApplication
      responses:
        '200':
          description: Journey application
    put:
      tags:
      - Journeys
      summary: Update a Journey Application
      operationId: putJourneyApplication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Journey application updated
  /journeys/{journey_token}/applications/{journey_application_token}/notes:
    parameters:
    - name: journey_token
      in: path
      required: true
      schema:
        type: string
    - name: journey_application_token
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Journeys
      summary: List Journey Application Notes
      operationId: getJourneyApplicationNotes
      responses:
        '200':
          description: Notes
    post:
      tags:
      - Journeys
      summary: Add a Note to a Journey Application
      operationId: postJourneyApplicationNote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
      responses:
        '201':
          description: Note created
  /journeys/{journey_token}/applications/{journey_application_token}/rerun:
    parameters:
    - name: journey_token
      in: path
      required: true
      schema:
        type: string
    - name: journey_application_token
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Journeys
      summary: Rerun a Journey Application
      operationId: postJourneyApplicationRerun
      responses:
        '201':
          description: Journey application rerun
  /journeys/{journey_token}/applications/{journey_application_token}/review:
    parameters:
    - name: journey_token
      in: path
      required: true
      schema:
        type: string
    - name: journey_application_token
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Journeys
      summary: Submit a Journey Application Review
      operationId: postJourneyApplicationReview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Review recorded
  /journeys/{journey_token}/applications/{journey_application_token}/auditaccess:
    parameters:
    - name: journey_token
      in: path
      required: true
      schema:
        type: string
    - name: journey_application_token
      in: path
      required: true
      schema:
        type: string
    patch:
      tags:
      - Journeys
      summary: Audit Access to a Journey Application
      operationId: patchJourneyApplicationAuditAccess
      responses:
        '200':
          description: Audit access logged
  /journeys/{journey_token}/applications/{journey_application_token}/nodes/{node_id}:
    parameters:
    - name: journey_token
      in: path
      required: true
      schema:
        type: string
    - name: journey_application_token
      in: path
      required: true
      schema:
        type: string
    - name: node_id
      in: path
      required: true
      schema:
        type: string
    put:
      tags:
      - Journeys
      summary: Update a Journey Application Node
      operationId: putJourneyApplicationNode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Node updated
  /journeys/{journey_token}/applications/{journey_application_token}/review/{manual_review_token}:
    parameters:
    - name: journey_token
      in: path
      required: true
      schema:
        type: string
    - name: journey_application_token
      in: path
      required: true
      schema:
        type: string
    - name: manual_review_token
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Journeys
      summary: Get a Manual Review for a Journey Application
      operationId: getJourneyApplicationManualReview
      responses:
        '200':
          description: Manual review
  /journeys/{journey_token}/applications/{journey_application_token}/cases/{case_token}/review:
    parameters:
    - name: journey_token
      in: path
      required: true
      schema:
        type: string
    - name: journey_application_token
      in: path
      required: true
      schema:
        type: string
    - name: case_token
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Journeys
      summary: Submit a Case Review for a Journey Application
      operationId: postJourneyApplicationCaseReview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Case review recorded
  /journeys/applications/ext/{external_application_id}/latest:
    parameters:
    - name: external_application_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Journeys
      summary: Get the Latest Application by External ID
      operationId: getJourneyApplicationByExternalId
      responses:
        '200':
          description: Journey application
    put:
      tags:
      - Journeys
      summary: Update the Latest Application by External ID
      operationId: putJourneyApplicationByExternalId
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Journey application updated
  /journeys/applications/ext/{external_application_id}/latest/rerun:
    parameters:
    - name: external_application_id
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Journeys
      summary: Rerun the Latest Application by External ID
      operationId: postJourneyApplicationRerunByExternalId
      responses:
        '201':
          description: Application rerun
  /journeys/entities/{external_entity_id}/applications:
    parameters:
    - name: external_entity_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Journeys
      summary: List Applications for an External Entity
      operationId: getJourneyApplicationsByExternalEntity
      responses:
        '200':
          description: Applications
  /journeys/{journey_token}/parameters:
    parameters:
    - name: journey_token
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Journeys
      summary: Get Journey Parameters
      operationId: getJourneyParameters
      responses:
        '200':
          description: Parameters
  /journeys/{journey_token}/schema:
    parameters:
    - name: journey_token
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Journeys
      summary: Get Journey Schema
      operationId: getJourneySchema
      responses:
        '200':
          description: Schema
components:
  schemas:
    Note:
      type: object
      properties:
        note_token:
          type: string
        body:
          type: string
        created_at:
          type: string
          format: date-time
    JourneyApplication:
      type: object
      properties:
        journey_application_token:
          type: string
        journey_token:
          type: string
        entity_token:
          type: string
        status:
          type: string
        outcome:
          type: string
        current_step:
          type: string
        created_at:
          type: string
          format: date-time
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication with workflow or account-level API key as username and secret as password.
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token obtained via the OAuth endpoints.
