openapi: 3.0.3
info:
  title: Alloy Bank Accounts Published Attributes API
  description: 'The Alloy API is the programmatic surface for Alloy''s identity decisioning

    platform. It exposes the resources behind Alloy''s KYC, KYB, AML, fraud,

    credit, and ongoing-monitoring workflows used by banks, credit unions, and

    fintechs.


    The API is organized around evaluations, journey applications, entities

    (persons and businesses), bank accounts, documents, events, cases,

    investigations, custom lists, published attributes, and webhooks. Sandbox

    and production environments are exposed as two distinct base URLs.

    '
  version: '1.0'
  contact:
    name: Alloy Developer Support
    url: https://help.alloy.com
  license:
    name: Proprietary
    url: https://www.alloy.com/tos
servers:
- url: https://sandbox.alloy.co/v1
  description: Sandbox environment
- url: https://api.alloy.co/v1
  description: Production environment
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Published Attributes
  description: Custom attributes published from external systems and used in policy.
paths:
  /published-attributes:
    get:
      tags:
      - Published Attributes
      summary: List Published Attributes
      operationId: getPublishedAttributes
      responses:
        '200':
          description: Published attributes
    post:
      tags:
      - Published Attributes
      summary: Create a Published Attribute
      operationId: postPublishedAttribute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Published attribute created
  /published-attributes/{published_attribute_token}:
    parameters:
    - name: published_attribute_token
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Published Attributes
      summary: Get a Published Attribute
      operationId: getPublishedAttribute
      responses:
        '200':
          description: Published attribute
    patch:
      tags:
      - Published Attributes
      summary: Update a Published Attribute
      operationId: patchPublishedAttribute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Published attribute updated
  /published-attributes/{published_attribute_token}/values:
    parameters:
    - name: published_attribute_token
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Published Attributes
      summary: List Values for a Published Attribute
      operationId: getPublishedAttributeValues
      responses:
        '200':
          description: Values
    post:
      tags:
      - Published Attributes
      summary: Submit Values for a Published Attribute
      operationId: postPublishedAttributeValues
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Values submitted
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication with workflow or account-level API key as username and secret as password.
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token obtained via the OAuth endpoints.
