openapi: 3.0.3
info:
  title: Alloy Bank Accounts Events API
  description: 'The Alloy API is the programmatic surface for Alloy''s identity decisioning

    platform. It exposes the resources behind Alloy''s KYC, KYB, AML, fraud,

    credit, and ongoing-monitoring workflows used by banks, credit unions, and

    fintechs.


    The API is organized around evaluations, journey applications, entities

    (persons and businesses), bank accounts, documents, events, cases,

    investigations, custom lists, published attributes, and webhooks. Sandbox

    and production environments are exposed as two distinct base URLs.

    '
  version: '1.0'
  contact:
    name: Alloy Developer Support
    url: https://help.alloy.com
  license:
    name: Proprietary
    url: https://www.alloy.com/tos
servers:
- url: https://sandbox.alloy.co/v1
  description: Sandbox environment
- url: https://api.alloy.co/v1
  description: Production environment
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Events
  description: Real-time monitoring events for entities, accounts, transactions, and logins.
paths:
  /events:
    post:
      tags:
      - Events
      summary: Submit a Monitoring Event
      operationId: postEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '201':
          description: Event accepted
  /events/schema:
    get:
      tags:
      - Events
      summary: Get the Events Schema
      operationId: getEventsSchema
      responses:
        '200':
          description: Schema
  /events/{event_request_token}:
    parameters:
    - name: event_request_token
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Events
      summary: Get an Event
      operationId: getEvent
      responses:
        '200':
          description: Event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
components:
  schemas:
    Event:
      type: object
      properties:
        event_request_token:
          type: string
        event_type:
          type: string
          description: Person Created, Business Created, Bank Account Created, Transaction, Login, Credentials Updated, External Account Created, External Account Updated, Modify Notification, Embedded Authentication, etc.
        entity_token:
          type: string
        payload:
          type: object
        created_at:
          type: string
          format: date-time
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication with workflow or account-level API key as username and secret as password.
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token obtained via the OAuth endpoints.
