openapi: 3.0.0
info:
  title: Alloy Identity API
  version: 1.0.0
  description: The Alloy Identity API provides endpoints for creating and managing
    person and business entities, running evaluations through configurable risk workflows,
    managing journey applications, submitting events for ongoing monitoring, handling
    document verification, and managing investigations and case alerts. Authentication
    is via Basic HTTP credentials or OAuth 2.0 Client Credentials.
  contact:
    name: Alloy Support
    url: https://help.alloy.com/hc/en-us
  license:
    name: Proprietary
servers:
- url: https://sandbox.alloy.co/v1
  description: Sandbox environment
- url: https://alloy.co/v1
  description: Production environment
security:
- basic: []
- oauth2: []
components:
  securitySchemes:
    basic:
      type: http
      description: HTTP basic authorization using a workflow token and secret
      scheme: basic
    oauth2:
      type: oauth2
      description: OAuth2 using a workflow token and secret to generate a bearer token
      flows:
        clientCredentials:
          tokenUrl: /oauth/bearer
          scopes: {}
  schemas: {}
tags:
- name: Bank Accounts
  description: Get Bank Account data with historical bank account snapshots and entity
    data.
- name: Entities
  description: Entities are the center of the Alloy world. All evaluations, manual
    reviews, and documents are related to an entity whether or not you explicitly
    link them together in your API requests. This endpoint provides the ability to
    query on an entity and get top-level details about that entity as well as an overview
    of all items associated with the entity. The tokens from linked evaluations, reviews,
    or documents can be passed to their own API endpoints for more information about
    those specific items.
- name: Documents
  description: The document upload API is a two-step process. First, the metadata
    for the document is specified, and the API returns a file identifier so the file
    can be streamed directly to the next endpoint. You’ll need to look for the document_token
    returned in the response because that is necessary to pass to the next endpoint
    for streaming the file.
- name: Entity Groups
  description: Entity groups can be used to associate multiple Person and Business
    Entities together at the point of onboarding and update throughout the entity
    lifecycle.
- name: Evaluations
  description: Evaluations are a core part of the Alloy world. In order to onboard
    a customer you can run an evaluation under a specific workflow, and that will
    create both the evaluation and, in most cases, the entity for that customer.
- name: Events
  description: Events are how we receive ongoing data, including entities (persons,
    businesses), logins, bank accounts, and transactions.
- name: Investigations
  description: Investigations are reviewable items that contain Alerts for suspicious
    activities for Alloy's Ongoing Monitoring solution.
- name: Journeys
  description: A Journey is a decision configuration that allows you to run multiple
    workflows.
- name: Transactions
  description: Manage transactions. These transactions are aggregated and decisioned
    through Transaction Monitoring workflows and evaluations.
- name: OAuth
  description: These endpoints allow the API to be used by OAuth clients. They convert
    (application token) + (application secret) credentials into OAuth bearer tokens
    that can be used with any other API endpoint.
paths:
  /bank-accounts/{account_identifier_or_token}:
    get:
      tags:
      - Bank Accounts
      summary: Get a single bank account, with historical and entity data, by unique
        token or identifier.
      description: Retrieves a single bank account uniquely defined by a bank account
        token or external account identifier. Bank account tokens are alphanumeric
        characters that start with a prefix "A-". External account identifers are
        strings provided by services or clients.
      parameters:
      - in: path
        name: account_identifier_or_token
        schema:
          type: string
        required: true
        description: Token of bank account to get details for.
      - in: query
        name: page
        schema:
          type: number
          example: 2
        required: false
        description: The page of history results to return. Default is 1.
      - in: query
        name: per_page
        schema:
          type: number
          example: 1000
        required: false
        description: How many history results per page to return. Default/maximum
          is 1000.
      responses:
        '200':
          x-summary: OK
          description: Returns the bank account matching bank account token.
          content:
            application/json:
              schema:
                type: object
                allOf:
                - properties:
                    account_token:
                      type: string
                      example: A-WO6WloK6odpcoxJkTKAt
                - properties:
                    timestamp:
                      type: string
                      format: date-time
                      description: ISO 8601 timestamp of when the event occurred.
                      example: '2024-06-01T12:00:00.000Z'
                    external_account_id:
                      type: string
                      description: Your system's unique identifier for the bank account.
                      example: acct-0a9b1c2d3e4f5a6b
                    external_entity_id:
                      type: string
                      description: 'Unique identifier of one of the Entities associated
                        with the Account.


                        Not strictly required if the event is not being monitored,
                        but recommended to include for future proofing your integration.
                        This field has no impact on which Entities are attached to
                        the Account, although it should match at least one of the
                        Entities that the Account belongs to.


                        Click [here](https://developer.alloy.com/public/docs/api-request#source-workflow-impact-on-entity-fields)
                        for more information.

                        '
                    entity_token:
                      type: string
                      description: Alloy-issued token of the entity associated with
                        this account.
                      example: P-R21gUOQ8rwCvmx8tIscf
                      nullable: true
                    account_class:
                      type: string
                      enum:
                      - credit
                      - deposit
                      - brokerage
                      - loan
                      description: 'The type of account. One of: credit, deposit (checking
                        or savings), brokerage, loan.'
                      example: deposit
                      nullable: true
                    account_name:
                      type: string
                      description: Descriptive name for the account.
                      example: My Checking Account
                      nullable: true
                    account_number:
                      type: string
                      description: Account number, as it appears on statements or
                        checks.
                      example: '123456789'
                    routing_number:
                      type: string
                      description: The ABA routing number for the bank account.
                      example: '021000021'
                      nullable: true
                    opening_date:
                      type: string
                      format: date-time
                      description: Date the account was opened.
                      example: '2022-01-15T00:00:00.000Z'
                      nullable: true
                    maturity_date:
                      type: string
                      format: date-time
                      description: Date the account matures (for term-based accounts
                        such as CDs or loans).
                      example: '2027-01-15T00:00:00.000Z'
                      nullable: true
                    closing_date:
                      type: string
                      format: date-time
                      description: Date the account was or will be closed.
                      example: '2025-06-01T00:00:00.000Z'
                      nullable: true
                    cif_number:
                      type: string
                      description: Customer Information File (CIF) number linking
                        this account to a customer record in your core banking system.
                      example: CIF-00123456
                      nullable: true
                    card_network:
                      type: string
                      description: Payment card network associated with the account
                        (e.g. Visa, Mastercard).
                      example: Visa
                      nullable: true
                    country_code:
                      type: string
                      description: 2-letter country code for the account.
                      example: US
                      nullable: true
                    currency:
                      type: string
                      description: Currency of the account (e.g. USD).
                      example: USD
                      nullable: true
                    product_code:
                      type: string
                      description: Internal product code identifying the account product
                        type in your system.
                      example: CHK-PREMIER
                      nullable: true
                    product_name:
                      type: string
                      description: Human-readable name of the account product.
                      example: Premier Checking
                      nullable: true
                    status:
                      type: string
                      description: Current status of the account as defined in your
                        system.
                      example: active
                      nullable: true
                    status_detail:
                      type: string
                      description: Free-form companion to the status field. Commonly
                        used to communicate fraud labels on closed or restricted accounts
                        (e.g. Fraud, potentialFraud, confirmedFraud). Any custom value
                        is accepted.
                      example: Fraud
                      nullable: true
                    credit_limit:
                      type: number
                      description: Credit limit of the account, in cents.
                      example: 500000
                      nullable: true
                    account_balance:
                      type: number
                      description: Current balance of the account, in cents.
                      example: 12345
                      nullable: true
                    account_type_status:
                      type: string
                      enum:
                      - Written Off
                      - Active
                      - Refinanced
                      - Past Due
                      - Paid Off
                      - Cancelled
                      description: Lifecycle status of the account from a credit or
                        loan servicing perspective.
                      example: Active
                      nullable: true
                    status_fraud:
                      type: string
                      enum:
                      - fraud
                      - not fraud
                      description: Indicates whether this account has been flagged
                        as fraudulent. Set to fraud when the account is confirmed
                        or suspected fraudulent, not fraud otherwise.
                      example: not fraud
                      nullable: true
                    entity_group_token:
                      type: string
                      description: Alloy-issued token for the entity group associated
                        with this account. When present, at least one entry in entities
                        is required.
                      example: EG-Xk3mR8pLqN2wYvT1cZsA
                      nullable: true
                    external_entity_group_id:
                      type: string
                      description: Your system's identifier for the entity group associated
                        with this account. When present, at least one entry in entities
                        is required.
                      example: group-acct-0012
                      nullable: true
                    entities:
                      type: array
                      items:
                        type: object
                        properties:
                          account_holder_type:
                            type: string
                            enum:
                            - primary
                            - secondary
                            - power_of_attorney
                            - authorized_signer
                            - authorized_user
                            - beneficiary
                            - joint_owner
                            - custodian
                            - guardian
                            - trustee
                          external_entity_id:
                            type: string
                          entity_token:
                            type: string
                        anyOf:
                        - title: Linked by External ID
                          required:
                          - external_entity_id
                        - title: Linked by Entity Token
                          required:
                          - entity_token
                - properties:
                    history:
                      type: array
                      items:
                        type: object
                        properties:
                          timestamp:
                            type: string
                            format: date-time
                          status:
                            type: string
                          status_detail:
                            type: string
                          credit_limit:
                            type: number
                          account_balance:
                            type: number
                          status_fraud:
                            type: string
                            enum:
                            - fraud
                            - not fraud
                - properties:
                    entity_groups:
                      type: array
                      items:
                        type: object
                        properties:
                          entity_group_token:
                            type: string
                          entity_group_name:
                            type: string
                          entity_group_type:
                            type: string
                            enum:
                            - business
                            - joint_account
                            - membership
                            - merchant
        '404':
          x-summary: Resource not found.
          description: Unable to find the bank account token.
  /entities/businesses/{entity_token}:
    parameters:
    - in: path
      name: entity_token
      schema:
        type: string
      required: true
      description: Business token associated with entity.
    get:
      tags:
      - Entities
      summary: Get a business entity
      description: Retrieves information associated with specified business entity
        token
      responses:
        '200':
          x-summary: OK
          description: Entity
          content:
            application/json:
              schema:
                type: object
                $ref: '#/paths/~1entities~1businesses/post/responses/201/content/application~1json/schema'
        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: string
                  error:
                    type: object
                  timestamp:
                    type: string
                  evaluation_token:
                    type: string
                  entity_token:
                    type: string
                  application_token:
                    type: string
                  application_version_id:
                    type: string
                example:
                  status_code: 400
                  error:
                    minor_code: 4013
                    type: Authorization Error
                    message: You are not authorized to operate on the specified object
                      or it does not exist.
                    details:
                      entity_token_or_external_id: provided-token
                    error_token: u82hfowjwl
                  timestamp: 1652205025227
                  evaluation_token: null
                  entity_token: null
                  application_token: 2ohfhwqoq2nm
                  application_version_id: null
    patch:
      tags:
      - Entities
      summary: Update a business entity
      description: Using a business entity token, update entity with provided information
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/paths/~1entities~1businesses/post/requestBody/content/application~1json/schema'
              - $ref: '#/paths/~1entities~1persons~1%7Bentity_token%7D/patch/requestBody/content/application~1json/schema/allOf/1'
      responses:
        '200':
          x-summary: OK
          description: Entity
          content:
            application/json:
              schema:
                type: object
                $ref: '#/paths/~1entities~1businesses/post/responses/201/content/application~1json/schema'
  /entities/{entity_token}:
    parameters:
    - in: path
      name: entity_token
      schema:
        type: string
      required: true
      description: Token associated with entity.
    get:
      tags:
      - Entities
      summary: Get Information Related to an Entity
      responses:
        '200':
          x-summary: OK
          description: Entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  type:
                    type: string
                  entity_token:
                    type: string
                  archived:
                    type: boolean
                  created:
                    type: number
                  evaluations:
                    type: array
                    items:
                      $ref: '#/paths/~1groups~1%7Bentity_token%7D/get/responses/200/content/application~1json/schema/properties/evaluations/items'
                  documents:
                    type: array
                    items:
                      $ref: '#/paths/~1groups~1%7Bentity_token%7D/get/responses/200/content/application~1json/schema/properties/documents/items'
                  reviews:
                    type: array
                    items:
                      $ref: '#/paths/~1groups~1%7Bentity_token%7D/get/responses/200/content/application~1json/schema/properties/reviews/items'
                  notes:
                    type: array
                    items:
                      properties:
                        text:
                          type: string
                          description: The contents of the note
                        created_at:
                          type: string
                          format: date-time
                          description: When the note was created
                        updated_at:
                          type: string
                          format: date-time
                          description: When the note was updated
                        email:
                          type: string
                          description: The email address of the author of the note
                        name:
                          type: string
                          description: The name of the author of the note
  /entities/{entity_token}/documents:
    parameters:
    - in: path
      name: entity_token
      schema:
        type: string
      required: true
      description: Token of entity for associated documents.
    get:
      tags:
      - Documents
      summary: Get a List of All Documents for an Entity
      description: All documents for an entity can be queried using this endpoint.
        All metadata for the documents is available, but the documents themselves
        must be downloaded individually.
      responses:
        '200':
          x-summary: OK
          description: Document
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/paths/~1documents~1%7Bdocument_token%7D/put/responses/200/content/application~1json/schema/items'
    post:
      tags:
      - Documents
      summary: Describe a Document Before Uploading
      description: The document upload API is a two-step process. First, the metadata
        for the document is specified, and the API returns a file identifier so the
        file can be streamed directly to the next endpoint. You’ll need to look for
        the document_token returned in the response because that is necessary to pass
        to the next endpoint for streaming the file.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/paths/~1documents/post/requestBody/content/application~1json/schema'
      responses:
        '200':
          x-summary: OK
          description: Document
          content:
            application/json:
              schema:
                type: object
                $ref: '#/paths/~1documents~1%7Bdocument_token%7D/put/responses/200/content/application~1json/schema/items'
  /entities/persons/{entity_token}:
    parameters:
    - in: path
      name: entity_token
      schema:
        type: string
      required: true
      description: Person token associated with entity.
    get:
      tags:
      - Entities
      summary: Get a person entity
      description: "Retrieves information associated with specified person entity\
        \ token \n\nThis endpoint supports the Alloy Entity token or your `external_entity_id`.\n"
      responses:
        '200':
          x-summary: OK
          description: Entity
          content:
            application/json:
              schema:
                type: object
                $ref: '#/paths/~1entities~1persons/post/responses/201/content/application~1json/schema'
        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: string
                  error:
                    type: object
                  timestamp:
                    type: string
                  evaluation_token:
                    type: string
                  entity_token:
                    type: string
                  application_token:
                    type: string
                  application_version_id:
                    type: string
                example:
                  status_code: 400
                  error:
                    minor_code: 4013
                    type: Authorization Error
                    message: You are not authorized to operate on the specified object
                      or it does not exist.
                    details:
                      entity_token_or_external_id: provided-token
                    error_token: u82hfowjwl
                  timestamp: 1652205025227
                  evaluation_token: null
                  entity_token: null
                  application_token: 2ohfhwqoq2nm
                  application_version_id: null
    patch:
      tags:
      - Entities
      summary: Update a person entity
      description: Using a person entity token, update entity with provided information
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/paths/~1entities~1persons/post/requestBody/content/application~1json/schema'
              - properties:
                  external_entity_ids:
                    type: array
                    description: List of external entity ids to add to the entity.
                      If the entity does not currently have an external entity id,
                      the first item of the array becomes the primary external entity
                      id. Otherwise, the current primary external entity id remains
                      primary unless an item in the array is explicitly designated
                      as primary by using the item's `designation` property. Only
                      one item may be designated as `primary`, and duplicate `external_entity_id`
                      values are not allowed.
                    items:
                      type: object
                      required:
                      - external_entity_id
                      properties:
                        external_entity_id:
                          type: string
                          maxLength: 65535
                        external_entity_id_type:
                          type: string
                          example: cif
                          description: Optional. A label for categorizing external
                            entity ids. The universal type `cif` is available to all
                            customers. Additional custom types may be configured per-customer.
                        designation:
                          type: string
                          enum:
                          - primary
                          description: Optional. Set this as `primary` in order to
                            designate the external entity id as primary.
      responses:
        '200':
          x-summary: OK
          description: Entity
          content:
            application/json:
              schema:
                type: object
                $ref: '#/paths/~1entities~1persons/post/responses/201/content/application~1json/schema'
  /entity-groups/{entity_token_or_external_id}:
    parameters:
    - in: path
      name: entity_token_or_external_id
      schema:
        type: string
      required: true
      description: Token or external identifier associated with the Entity Group.
      example: EG-80vO8Cy0fMD1vJfZjbEB
    get:
      tags:
      - Entity Groups
      summary: Get information about an Entity Group
      description: Using an Entity Group's token or external identifier, get information
        about the Entity Group and its relationships
      responses:
        '200':
          x-summary: Success
          description: Success
          content:
            application/json:
              schema:
                properties:
                  entity_group_token:
                    type: string
                  entity_group_name:
                    type: string
                  entity_group_type:
                    type: string
                    enum:
                    - business
                    - joint_account
                    - membership
                    - merchant
                  created_at:
                    type: string
                    example: '2025-12-10T16:19:56.000Z'
                  archived_at:
                    type: string
                    example: '2025-12-11T16:19:56.000Z'
                  entity_group_external_identifiers:
                    type: array
                    items:
                      type: string
                  entity_group_relationships:
                    type: array
                    items:
                      type: object
                      properties:
                        entity_token:
                          type: string
                        name:
                          type: string
                        type:
                          type: string
                          enum:
                          - person
                          - business
                        ownership_percentage:
                          type: string
                        title:
                          type: string
                          example: CEO
                        relationship_created_at:
                          type: string
                          example: '2025-12-08T14:01:00.000Z'
                        roles:
                          type: array
                          items:
                            type: string
                            enum:
                            - primary
                            - shareholder
                            - secondary
                            - beneficiary
                            - beneficial_owner
                            - control_prong
                            - director
                            - authorized_signer
                            - principal_owner
                            - coborrower
                            - joint
                            - guarantor
                        bank_accounts:
                          type: array
                          items:
                            type: object
                            properties:
                              bank_account_token:
                                type: string
                              external_account_id:
                                type: string
                              account_holder_type:
                                type: string
                                enum:
                                - primary
                                - secondary
                                - power_of_attorney
                                - authorized_signer
                                - authorized_user
                                - beneficiary
                                - joint_owner
                                - custodian
                                - guardian
                                - trustee
                example:
                  entity_group_token: EG-wnUeDsz7dvC4sbXM9VtA
                  entity_group_external_identifiers:
                  - 087ac67e-17ab-4529-8d1a-a8b2214d305f
                  entity_group_name: Jane's Biscuit Co.
                  entity_group_type: business
                  created_at: '2025-12-17T22:09:00.684Z'
                  archived_at: null,
                  entity_group_relationships:
                  - entity_token: B-v3aBv8wydmqs1h6wTgMI
                    name: Jane's Biscuit Co.
                    type: business
                    roles:
                    - primary
                    title: null
                    ownership_percentage: null
                    relationship_created_at: '2025-12-17T22:09:00.684Z'
                    bank_accounts: []
                  - entity_token: P-lRE0vrgm2840nxlFgzf0
                    name: Jane Doe
                    type: person
                    roles:
                    - director
                    - shareholder
                    title: Director of Sales
                    ownership_percentage: '80'
                    relationship_created_at: '2025-12-17T22:09:00.684Z'
                    bank_accounts:
                    - bank_account_token: A-3BHSHBnt6E1QpPfkk7xR
                      external_account_id: 9348234-127391823-283489
                      account_holder_type: authorized_user
  /evaluations/{evaluation_token}:
    parameters:
    - in: path
      name: evaluation_token
      schema:
        type: string
      required: true
      description: Token associated with evaluation.
      example: L-5zKNd6TaKRoUILGAFTD6
    get:
      tags:
      - Evaluations
      summary: View Evaluation
      responses:
        '201':
          x-summary: OK
          description: Evaluation
          content:
            application/json:
              schema:
                type: object
                $ref: '#/paths/~1evaluations/post/responses/201/content/application~1json/schema'
    patch:
      summary: Updates an evaluation
      description: "Updates an existing unresolved evaluation (waiting on required\
        \ inputs), data supplied in the request body will be merged with data supplied\
        \ from the initial `POST` request. \nNote that `null` values supplied for\
        \ fields in the request body are treated as \"do no change\" and no updates\
        \ will happen with those fields.\n"
      tags:
      - Evaluations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Evaluation missing required inputs
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: string
                  error:
                    type: object
                  timestamp:
                    type: number
                  evaluation_token:
                    type: string
                  entity_token:
                    type: string
                  application_token:
                    type: string
                  application_version_id:
                    type: number
                  required:
                    type: array
                    description: The required fields for this workflow
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          example: name_first
                        type:
                          type: string
                          example: string
                        description:
                          type: string
                          example: First name
                        regex:
                          type: string
                          example: ^[^d]*$
                        properties:
                          type: object
                  optional:
                    type: array
                    description: The optional fields for this workflow
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          example: email_address
                        type:
                          type: string
                          example: string
                        description:
                          type: string
                          example: Email address
                        regex:
                          type: string
                          example: ''
                        properties:
                          type: object
        '201':
          description: Evaluation updated
          content:
            application/json:
              schema:
                $ref: '#/paths/~1evaluations/post/responses/201/content/application~1json/schema'
  /events/{event_request_token}:
    get:
      tags:
      - Events
      summary: Get an event by token
      description: Retrieves a previously submitted event by its event request token,
        including the original request body.
      parameters:
      - in: path
        name: event_request_token
        schema:
          type: string
          example: EV-xi7Etep0gW7gZiuWsqXG
        required: true
        description: The event request token returned when the event was created.
      responses:
        '200':
          x-summary: OK
          description: Event found
          content:
            application/json:
              schema:
                type: object
                properties:
                  event_request_token:
                    type: string
                    example: EV-xi7Etep0gW7gZiuWsqXG
                  event_type:
                    type: string
                    description: The type of event that was submitted.
                    example: person_created
                  events_api_type_id:
                    type: integer
                    description: Internal numeric identifier for the event type.
                  event_status_id:
                    type: integer
                    nullable: true
                    description: Internal identifier for the event status, if one
                      was assigned.
                  event_lifecycle_id:
                    type: string
                    nullable: true
                    maxLength: 128
                    description: Lifecycle identifier for grouping related events.
                  external_event_id:
                    type: string
                    nullable: true
                    description: External event identifier provided in the original
                      request.
                  event_request_status_type_id:
                    type: integer
                    nullable: true
                    description: Status type of the event request (e.g. processed,
                      error).
                  event_request_source:
                    type: string
                    nullable: true
                    description: Source of the event request (e.g. API, batch ingestion).
                  ingestion_batch_token:
                    type: string
                    nullable: true
                    description: Token of the ingestion batch, if the event was submitted
                      via batch.
                  upserted_events_type_id:
                    type: integer
                    nullable: true
                    description: For upserted events, indicates whether the upsert
                      resolved to a create or update.
                  timestamp:
                    type: string
                    format: date-time
                    description: Timestamp of when the event request was recorded.
                  body:
                    type: object
                    description: The original request body that was submitted with
                      the event.
                example:
                  event_request_token: EV-xi7Etep0gW7gZiuWsqXG
                  event_type: person_created
                  events_api_type_id: 1
                  event_status_id: null
                  event_lifecycle_id: null
                  external_event_id: audit-event-123
                  event_request_status_type_id: 1
                  event_request_source: null
                  ingestion_batch_token: null
                  upserted_events_type_id: null
                  timestamp: '2024-12-06T17:04:25.579Z'
                  body:
                    event_type: person_created
                    data:
                      external_entity_id: 087ac67e-17ab-4529-8d1a-a8b2214d305f
                      name_first: John
                      name_last: Smith
                      timestamp: '2024-12-06T17:04:25.579Z'
        '404':
          x-summary: NOT FOUND
          description: Event not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: EV-xi7Etep0gW7gZiuWsqXG not found
  /events/schema:
    get:
      tags:
      - Events
      summary: Get the schema for request event type
      description: Retrieves the schema for requested event type
      parameters:
      - in: query
        name: type
        schema:
          type: string
          enum:
          - person_created
          - person_updated
          - business_created
          - business_updated
          - bank_account_created
          - bank_account_updated
          - external_account_created
          - external_account_updated
          - transaction
          - login
          - credentials_updated
          - embedded_authentication
          - entity_group_created
          - entity_group_updated
          example: login
        required: true
        description: The type of event for the schema.
      responses:
        '200':
          x-summary: OK
          description: Returns the schema for specified events. If a workflow is attached
            to event, will also include supplemental data for the workflow
          content:
            application/json:
              schema:
                type: object
                example:
                  status_code: 200
                  type: Object
                  event_type:
                    type: string
                    enum:
                    - login
                  external_event_id:
                    type: string
                    nullable: true
                  data:
                    timestamp:
                      type: string
                    supplemental_data:
                      type: object
                      properties: {}
        '400':
          x-summary: ERROR
          description: Validation Error
          content:
            application/json:
              schema:
                type: object
  /investigations/{investigation_token}:
    parameters:
    - in: path
      name: investigation_token
      schema:
        type: string
      required: true
      description: Token associated with the Investigation
      example: INV-EAx2xoAsqF1ibKTQzkXV
    get:
      tags:
      - Investigations
      summary: Get an Investigation
      description: Returns the details of an individual Investigation.
      responses:
        '200':
          description: Successfully retrieved Investigation Details
          content:
            application/json:
              schema:
                type: object
                properties:
                  investigation_token:
                    type: string
                    example: INV-EAx2xoAsqF1ibKTQzkXV
                  closed_at:
                    type: string
                    format: date-time
                    example: '2024-12-05T20:05:43.643Z'
                  created_at:
                    type: string
                    format: date-time
                    example: '2024-11-26T16:00:14.677Z'
                  name:
                    type: string
                    nullable: true
                  type:
                    type: string
                    example: Fraud
                  state:
                    type: string
                    example: case_review
                  source:
                    type: string
                    example: alert
                  outcome:
                    type: string
                    example: Dismissed
                  updated_at:
                    type: string
                    format: date-time
                    example: '2024-12-05T20:05:43.643Z'
                  archived_at:
                    type: string
                    format: date-time
                    example: '2024-12-05T20:05:43.643Z'
                  _embedded:
                    type: object
                    properties:
                      assigned_agent:
                        type: object
                        properties:
                          first_name:
                            type: string
                            example: Mike
                          last_name:
                            type: string
                            example: Alloy
                          email:
                            type: string
                            example: safeandseamless@alloy.com
                          token:
                            type: string
                            example: AG-L83m6iTwcXdNg3CHndS4
                      entities:
                        type: object
                        properties:
                          P-KaKZxdSGnbxXfKXnXdyp:
                            type: object
                            properties:
                              type:
                                type: string
                                example: person
                              entity_token:
                                type: string
                                example: P-KaKZxdSGnbxXfKXnXdyp
                              entity_name:
                                type: string
                                example: Trycia Turner
                              meta:
                                type: string
                                nullable: true
                              external_ingestion_identifier:
                                type: string
                                nullable: true
                              recent_action:
                                type: string
                                nullable: true
                              external_entity_identifier:
                                type: string
                                example: mjj09291-111824-3
                              risk_score:
                                type: number
                                nullable: true
                      events:
                        type: array
                        items:
                          type: object
                          properties:
                            event:
                              type: string
                              example: closed
                            agent:
                              type: object
                              properties:
                                first_name:
                                  type: string
                                  example: Mike
                                last_name:
                                  type: string
                                  example: Alloy
                                email:
                                  type: string
                                  example: safeandseamless@alloy.com
                                token:
                                  type: string
                                  example: AG-L83m6iTwcXdNg3CHndS4
                            assigned_agent:
                              type: object
                              properties:
                                first_name:
                                  type: string
                                  nullable: true
                                last_name:
                                  type: string
                                  nullable: true
                                email:
                                  type: string
                                  nullable: true
                                token:
                                  type: string
                                  nullable: true
                            note:
                              type: string
                              nullable: true
                            meta:
                              type: object
                              nullable: true
                      evidences:
                        type: object
                        properties:
                          journey_alerts:
                            type: array
                            items:
                              type: object
                              properties:
                                journey_application_token:
                                  type: string
                                  example: JA-PA0M5o6nyYCGhVyhXYWH
                                journey_token:
                                  type: string
                                  example: J-O9aI8AWpkv895oavftOH
                          tags:
                            type: array
                            items:
                              type: object
                              properties:
                                tag_color:
                                  type: string
                                  example: FB923C
                                tag_name:
                                  type: string
                                  example: Phone Reputation Fail
                                is_outcome_reason:
                                  type: boolean
                                  example: true
                                added_by:
                                  type: object
                                  properties:
                                    email:
                                      type: string
                                      example: agent@email.com
                                    first_name:
                                      type: string
                                      example: Mike
                                    last_name:
                                      type: string
                                      example: Alloy
                                    token:
                                      type: string
                                      example: AG-L83m6iTwcXdNg3CHndS4
                      documents:
                        type: array
                        items:
                          $ref: '#/paths/~1documents~1%7Bdocument_token%7D/put/responses/200/content/application~1json/schema/items'
                      notes:
                        type: array
                        items:
                          type: object
                          properties:
                            created_at:
                              type: string
                              example: '2025-01-01T13:00:59.000Z'
                            created_by:
                              type: object
                              properties:
                                first_name:
                                  type: string
                                  example: Mike
                                last_name:
                                  type: string
                                  example: Alloy
                                email:
                                  type: string
                                  example: agent@email.com
                                token:
                                  type: string
                                  example: AG-f5NJW4vCmoxwxkn4BpOV
                            entity_name:
                              type: string
                              example: Nick Armstrong
                            entity_token:
                              type: string
                              example: P-KaKZxdSGnbxXfKXnXdyp
                            text:
                              type: string
                              example: My note
                            is_investigation_level_note:
                              type: boolean
                              example: true
                      reviews:
                        type: array
                        items:
                          type: object
                          properties:
                            new_investigation_state:
                              type: string
                              example: alert_review_closed
                            note:
                              type: string
                              nullable: true
                            outcome:
                              type: string
                              example: Dismissed
                            previous_investigation_state:
                              type: string
                              example: alert_review
                            reason:
                              type: string
                              example: Verified by human
                            reviewed_at:
                              type: string
                              format: date-time
                              example: '2024-12-05T20:05:43.643Z'
                            reviewed_by:
                              type: object
                              properties:
                                first_name:
                                  type: string
                                  example: Mike
                                last_name:
                                  type: string
                                  example: Alloy
                                email:
                                  type: string
                                  example: safeandseamless@alloy.com
                                token:
                                  type: string
                                  example: AG-L83m6iTwcXdNg3CHndS4
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/paths/~1investigations~1types/get/responses/401/content/application~1json/schema'
        '404':
          description: Investigation Not Found
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/paths/~1investigations~1%7Binvestigation_token%7D~1alerts~1%7Bjourney_application_token%7D~1review/put/responses/404/content/application~1json/schema'
        '409':
          description: Resource Conflict
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    status_code:
                      type: string
                      example: 409
                    error:
                      type: object
                      properties:
                        minor_code:
                          type: number
                          example: 4091
                        type:
                          type: string
                        message:
                          type: string
                        details:
                          type: object
                          properties:
                            document_token:
                              type: string
                            entity_token:
                              type: string
                        error_token:
                          type: string
                    timestamp:
                      type: number
                      example: 1725386185011
                    evaluation_token:
                      type: string
                      example: null
                    entity_token:
                      type: string
                      example: null
                    application_token:
                      type: string
                    application_version_id:
                      type: string
                      example: null
        '500':
          description: Unhandled Service Error
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    status_code:
                      type: string
                      example: 500
                    error:
                      type: object
                      properties:
                        minor_code:
                          type: number
                          example: 5000
                        type:
                          type: string
                        message:
                          type: string
                        error_token:
                          type: string
                          example: 31e6e353-e62b-4fe2-be16-ea37ea9a992c
                    timestamp:
                      type: number
                      example: 1725386185011
                    evaluation_token:
                      type: string
                      example: null
                    entity_token:
                      type: string
                      example: null
                    application_token:
                      type: string
                    application_version_id:
                      type: string
                      example: null
        '503':
          description: Temporarily Offline for Maintenance
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    status_code:
                      type: string
                      example: 503
                    error:
                      type: object
                      properties:
                        minor_code:
                          type: number
                          example: 5031
                        type:
                          type: string
                        message:
                          type: string
                          example: Oops our database server is unreachable. The engineers
                            have been notified.
                        details:
                          type: object
                          properties:
                            journey_token:
                              type: string
                        error_token:
                          type: string
                    timestamp:
                      type: number
                      example: 1725386185011
                    evaluation_token:
                      type: string
                      example: null
                    entity_token:
                      type: string
                      example: null
                    application_token:
                      type: string
                    application_version_id:
                      type: string
                      example: null
  /investigations:
    get:
      tags:
      - Investigations
      summary: Get list of Investigations
      description: Retrieves a filterable paginated list of investigations
      parameters:
      - in: query
        name: q
        schema:
          type: object
          description: Object to hold the investigations filters
          properties:
            statuses:
              type: string
              description: Listed by [Get Investigation filters](https://developer.alloy.com/public/reference/get_investigations-filters).
                E.g. `["alert_review"]`.
            types:
              type: string
              description: Listed by [Get Investigation filters](https://developer.alloy.com/public/reference/get_investigations-filters).
                E.g. `["Fraud"]`.
            assignedAgents:
              type: string
              description: Listed by [Get Investigation filters](https://developer.alloy.com/public/reference/get_investigations-filters).
                E.g. `["AG-L83m6iTwcXdNg3CHndS4"]`
            entityTokens:
              type: string
              description: E.g. `["P-KaKZxdSGnbxXfKXnXdyp"]`
            investigationTokens:
              type: string
              description: E.g. `["INV-EAx2xoAsqF1ibKTQzkXV"]`
            externalEntityIds:
              type: string
              description: E.g. `["external_entity_id"]`
            deviceIds:
              type: string
              description: E.g. `["device_vendor_identifier"]`
            programNames:
              type: string
              description: E.g. `["program_name"]`
            includeClosed:
              type: boolean
            archived:
              type: boolean
              description: E.g. `false`
            createdAtFrom:
              type: number
              description: E.g. `1737742979`
            createdAtTo:
              type: number
              description: E.g. `1737742979`
            updatedAtFrom:
              type: number
              description: E.g. `1737742979`
            updatedAtTo:
              type: number
              description: E.g. `1737742979`
      - in: query
        name: pageNum
        schema:
          type: number
          description: Which page number to return. Default is 1
          default: 1
      - in: query
        name: numRowsPerPage
        schema:
          type: number
          description: Limits results per page. Up to 100.
          default: 20
      - in: query
        name: sortColumn
        schema:
          type: string
          enum:
          - updated_at
          - created_at
          - total_alerts
          - risk_score
          default: created_at
      - in: query
        name: sortOrder
        schema:
          type: string
          enum:
          - DESC
          - ASC
          default: DESC
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  _embedded:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          total_investigations:
                            type: number
                            example: 95
                          total_pages:
                            type: number
                            example: 4
                          page:
                            type: number
                            example: 1
                          per_page:
                            type: number
                            example: 20
                      sorting:
                        type: object
                        properties:
                          column:
                            type: string
                            example: update_at
                          order:
                            type: string
                            example: DESC
                  error:
                    type: object
                    example: null
                  investigations:
                    type: array
                    items:
                      type: object
                      properties:
                        investigation_token:
                          type: string
                          example: INV-EAx2xoAsqF1ibKTQzkXV
                        name:
                          type: string
                          example: Nick Armstrong's investigation
                        total_alerts:
                          type: number
                          example: 2
                        type:
                          type: string
                          example: Fraud
                        state:
                          type: string
                          example: alert_review
                        source:
                          type: string
                          example: alert
                        outcome:
                          type: string
                          example: Dismissed
                        created_at:
                          type: string
                          format: date-time
                          example: '2024-11-26T16:00:14.677Z'
                        updated_at:
                          type: string
                          format: date-time
                          example: '2024-11-26T16:00:14.677Z'
                        closed_at:
                          type: string
                          format: date-time
                          example: null
                        archived_at:
                          type: string
                          format: date-time
                          example: null
                        _embedded:
                          type: object
                          properties:
                            entities:
                              type: object
                              properties:
                                P-KaKZxdSGnbxXfKXnXdyp:
                                  type: object
                                  properties:
                                    entity_name:
                                      type: string
                                      example: Nick Armstrong
                                    entity_type:
                                      type: string
                                      example: person
                                    entity_token:
                                      type: string
                                      example: P-KaKZxdSGnbxXfKXnXdyp
                                    risk_score:
                                      type: number
                                      example: 0.7
                            assigned_agent:
                              type: object
                              properties:
                                first_name:
                                  type: string
                                  example: Mike
                                last_name:
                                  type: string
                                  example: Alloy
                                email:
                                  type: string
                                  example: agent@email.com
                                token:
                                  type: string
                                  example: AG-L83m6iTwcXdNg3CHndS4
                        device_ids:
                          type: array
                          items:
                            type: string
                            example: device_vendor_identifier
                        program_names:
                          type: array
                          items:
                            type: string
                            example: Program name
                        alert_assignees:
                          type: array
                          items:
                            type: string
                            example: Agent name
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/paths/~1investigations~1types/get/responses/401/content/application~1json/schema'
    post:
      tags:
      - Investigations
      summary: Create an Investigation
      description: Manually creates a new Investigation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                investigation_state:
                  type: string
                  example: alert_review
                  description: Listed by [Get Investigation filters](https://developer.alloy.com/public/reference/get_investigations-filters).
                investigation_type:
                  type: string
                  example: Fraud
                  description: Listed by [Get Investigation types](https://developer.alloy.com/public/reference/get_investigations-types).
                entity_tokens:
                  type: array
                  items:
                    type: string
                    example: P-1GoQALm40nPQSp7UVTJS
                journey_alerts:
                  type: array
                  items:
                    type: object
                    properties:
                      agent_token:
                        type: string
                        example: AG-L83m6iTwcXdNg3CHndS4
                      journey_alert_token:
                        type: string
                        example: JA-mhjlfS6nZe1G6HuvAKVq
                      outcome:
                        type: string
                        example: Dismissed
                      reason:
                        type: string
                        example: Passed manual checks
                      note:
                        type: string
                        example: My note
                  required:
                  - agent_token
                  - journey_alert_token
                investigation_assignee_token:
                  type: string
                  example: AG-L83m6iTwcXdNg3CHndS4
                  description: Listed by [Get list of assignable agents](https://developer.alloy.com/public/reference/get_investigations-assignable-agents).
                    Assigns the new Investigation to an agent.
                should_aggregate_alerts:
                  description: Setup if the automatic Alerts can be attached to the
                    new Investigation later.
                  type: boolean
                  default: true
                investigation_name:
                  type: string
                  example: Investigation Nick Armstrong
                note:
                  type: string
                  example: My note
                tags:
                  type: array
                  minItems: 0
                  items:
                    type: object
                    properties:
                      tag_name:
                        type: string
                        example: Suspicious Activity
                      is_outcome_reason:
                        type: boolean
                        example: false
                        description: If the tag has outcomes attached
                    required:
                    - tag_name
                    - is_outcome_reason
              required:
              - investigation_type
              - investigation_state
              - journey_alerts
              - entity_tokens
      responses:
        '201':
          x-summary: OK
          description: Investigation
          content:
            application/json:
              schema:
                type: object
                $ref: '#/paths/~1investigations~1%7Binvestigation_token%7D/get/responses/200/content/application~1json/schema'
        '400':
          description: Missing required fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: string
                  error:
                    type: object
                  timestamp:
                    type: string
                  evaluation_token:
                    type: string
                  entity_token:
                    type: string
                  application_token:
                    type: string
                  application_version_id:
                    type: string
                example:
                  status_code: 400
                  error:
                    minor_code: 4002
                    type: Request Body Validation Failure
                    message: Your request body contained invalid field(s)
                    details:
                      message: '"required_field" is required'
                      path: required_field
                      type: any.required
                      context:
                        key: required_field
                    error_token: u82hfowjwl
                  timestamp: 1652205025227
                  evaluation_token: null
                  entity_token: null
                  application_token: null
                  application_version_id: null
  /journeys/{journey_token}/applications/{journey_application_token}:
    parameters:
    - in: path
      name: journey_token
      schema:
        type: string
      required: true
      description: Token associated with your Journey
      example: J-VCQoADBJxeHtmdAvFqoS
    - in: path
      name: journey_application_token
      schema:
        type: string
      required: true
      description: Token associated with your Journey Application
      example: JA-mhjlfS6nZe1G6HuvAKVq
    - $ref: '#/paths/~1journeys~1%7Bjourney_token%7D~1applications/parameters/2'
    get:
      parameters:
      - $ref: '#/paths/~1journeys~1%7Bjourney_token%7D~1applications/parameters/2'
      - $ref: '#/paths/~1journeys~1%7Bjourney_token%7D~1applications/parameters/3'
      tags:
      - Journeys
      summary: Get Journey Application
      description: 'Returns relevant data associated with a journey application.

        '
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  journey_application_token:
                    type: string
                  status:
                    type: string
                    enum:
                    - completed
                    - data_request
                    - error
                    - expired
                    - pending_action
                    - pending_additional_entities
                    - pending_documents
                    - pending_journey_application_review
                    - pending_reconciliation
                    - pending_step_up
                    - pending_workflow_service
                    - running
                    - waiting_review
                  sandbox:
                    type: boolean
                  created_at:
                    type: integer
                  updated_at:
                    type: integer
                  closed_at:
                    type: integer
                  complete_outcome:
                    type: string
                  recent_outcome:
                    type: string
                    description: Deprecated field
                  is_shadow_app:
                    description: indicates if the application was generated for a
                      shadow test. This value is false for the parent applications
                      that trigger the generation of the shadow applications.
                    type: boolean
                  is_part_of_shadow_test:
                    description: indicates if the application is a part of a shadow
                      test. This value is true for both the parent applications that
                      trigger the generation of the shadow applications, as well as
                      the shadow applications.
                    type: boolean
                  journey_application_status:
                    description: derived from the `status` and `complete_outcome`,
                      this value represents a simplified display status, as seen on
                      the Journey Application Queue and Journey Application pages.
                    type: string
                  is_archived:
                    type: boolean
                  external_group_id:
                    type: string
                  external_application_id:
                    description: allows to associate one or multiple Journey Applications
                      with an external identifier
                    type: string
                  is_rerun:
                    type: boolean
                  archived_at:
                    type: string
                  terminal_reconciliation_output:
                    allOf:
                    - type: object
                      properties:
                        outcome_reasons:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                                enum:
                                - adverse_action
                                - null
                        tags:
                          type: array
                          items:
                            type: string
                        output_attributes:
                          type: object
                          additionalProperties:
                            oneOf:
                            - type: string
                            - type: number
                            description: NOTE the dynamic property name refers to
                              the name of the output attribute
                        matrix_models:
                          type: object
                          additionalProperties:
                            type: object
                            description: NOTE the dynamic property name refers to
                              the name of the matrix model
                            properties:
                              matrix_model_public_version:
                                type: integer
                              matrix_model_token:
                                type: string
                              name:
                                type: string
                              result:
                                type: number
                                nullable: true
                              status:
                                type: string
                                enum:
                                - executed
                                - not_executed
                              x_bucket:
                                type: number
                                nullable: true
                                description: x-coordinate of the matrix
                              x_value:
                                type: number
                                nullable: true
                              y_bucket:
                                type: number
                                nullable: true
                                description: y-coordinate of the matrix
                              y_value:
                                type: number
                                nullable: true
                    type: object
                    description: Data aggregated from the output of the terminal reconciliation
                      evaluation
                  application_meta:
                    type: object
                    description: Optional, allows to provide additional metadata applied
                      to all entities in the Application.
                  _embedded:
                    type: object
                    properties:
                      rerun:
                        description: The journey application that this is a rerun
                          of
                        type: object
                        properties:
                          initiated_by:
                            type: string
                            enum:
                            - api
                            - dashboard
                          previous_journey_application_token:
                            type: string
                          root_external_group_id:
                            type: string
                          root_journey_application_token:
                            type: string
                      reruns:
                        description: The journey applications that are rerun versions
                          of this application
                        type: array
                        items:
                          type: object
                          properties:
                            initiated_by:
                              type: string
                              enum:
                              - dashboard
                              - api
                            next_journey_application_token:
                              type: string
                            created_at:
                              type: integer
                      events:
                        description: List of journey application events, ordered chronologically.
                          The fields displayed in the event will depend on the event
                          type
                        type: array
                        items:
                          type: object
                          properties:
                            journey_application_event_token:
                              type: string
                            journey_application_token:
                              type: string
                            journey_type:
                              type: string
                              enum:
                              - alert
                              - application
                            type:
                              type: string
                              enum:
                              - application_archived
                              - application_expired
                              - application_unarchived
                              - completed_action
                              - completed_application
                              - completed_branch
                              - completed_evaluation
                              - completed_mid_journey_reconciliation
                              - completed_reconciliation
                              - completed_review
                              - completed_review_journey_application
                              - data_request_evaluation
                              - error
                              - executed_branch_change
                              - has_finished_sending_additional_entities
                              - journey_application_retriggered
                              - maximum_retries_reached
                              - pending_action
                              - pending_action_expired
                              - pending_documents
                              - pending_evaluation
                              - pending_review
                              - pending_step_up
                              - pending_step_up_expired
                              - pending_workflow_service
                              - queued_branch_change
                              - reached_application_outcome
                              - reached_auto_decision_node
                              - reached_mid_journey_reconciliation_node
                              - reached_retry_node
                              - started_application
                              - started_evaluation
                              - started_mid_journey_reconciliation
                              - started_reconciliation
                              - started_rerun_application
                              - started_review
                              - visited_node
                            external_partner_id:
                              type: string
                            external_product_id:
                              type: string
                            external_group_id:
                              type: string
                            reason:
                              type: string
                            reasons:
                              type: array
                              items:
                                type: string
                            timestamp:
                              type: integer
                            outcome:
                              type: string
                              description: 'Populated for the following event types:
                                `completed_action`, `completed_application`, `completed_branch`,
                                `completed_evaluation`, `completed_review`, `pending_action_expired`'
                            evaluation_token:
                              type: string
                              description: Identifying evaluation token (only in evaluation
                                type events)
                            entity_token:
                              type: string
                            entity_application_token:
                              type: string
                            error_data:
                              type: object
                              description: Additional error data populated when available
                                for `error` event types
                              properties:
                                error:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                    details:
                                      type: object
                                    message:
                                      type: string
                                    minor_code:
                                      type: integer
                                    error_token:
                                      type: string
                                timestamp:
                                  type: integer
                                status_code:
                                  type: integer
                                entity_token:
                                  type: string
                                evaluation_token:
                                  type: string
                                application_token:
                                  type: string
                                application_version_id:
                                  type: integer
                            _embedded:
                              type: object
                              properties:
                                node:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - start
                                      - workflow
                                      - review
                                      - outcome
                                      - action
                                      - docv
                                    config:
                                      description: Config related to the specific
                                        node, depending on the type
                                      type: object
                                    workflow_name:
                                      type: string
                                    sdk_config:
                                      type: object
                                      description: Settings to be read by SDK to handle
                                        processing. Only present on workflow node
                                        events.
                                      properties:
                                        documents:
                                          type: array
                                          items:
                                            type: string
                                        selfie:
                                          type: boolean
                            _links:
                              type: object
                              properties:
                                evaluation:
                                  type: object
                                  properties:
                                    href:
                                      type: string
                                case:
                                  type: object
                                  properties:
                                    href:
                                      type: string
                      journey:
                        type: object
                        properties:
                          journey_name:
                            type: string
                          journey_type:
                            type: string
                            enum:
                            - application
                            - alert
                          journey_token:
                            type: string
                          journey_version_num:
                            type: string
                          _links:
                            type: object
                            properties:
                              self:
                                type: object
                                properties:
                                  href:
                                    type: string
                                    description: GET route for the Journey
                              callback_by_entity_application_token:
                                type: object
                                description: When applicable, the route to send a
                                  PUT request to for each entity application to resolve
                                  its current pending state
                      child_entities:
                        type: array
                        items:
                          type: object
                          properties:
                            external_entity_identifier:
                              type: string
                            name:
                              type: string
                            token:
                              type: string
                            type:
                              type: string
                            entity_application_token:
                              type: string
                            entity_application_status:
                              type: string
                            entity_application_outcome:
                              type: string
                            entity_application_branch_name:
                              type: string
                            created:
                              type: string
                            sandbox_persona_name:
                              type: string
                              description: When applicable, name of sandbox persona
                                used for this child entity
                      entity_applications:
                        type: array
                        items:
                          type: object
                          properties:
                            entity_token:
                              type: string
                            entity_application_token:
                              type: string
                            entity_application_outcome:
                              type: string
                            entity_application_status:
                              type: string
                            sdk_link:
                              type: string
                            dimensions:
                              type: array
                              description: The dimension(s) that triggered this entity
                                application. This is only applicable when the application
                                was created by a portfolio evaluation.
                              items:
                                type: object
                                properties:
                                  dimension:
                                    type: string
                                  dimension_type:
                                    type: string
                            entity_application_status_details:
                              type: object
                              description: "Additional details for applications that\
                                \ have status `data_request` or `pending_workflow_service`.\
                                \ \n* If the status is `data_request`, the `required`,\
                                \ `or`, and `optional` fields will be populated based\
                                \ on the journey configuration.\n* If the status is\
                                \ `pending_workflow_service`, the fields will be dependent\
                                \ on the services configured for the journey. Please\
                                \ speak to your representative for more information.\n"
                              properties:
                                required:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      key:
                                        type: string
                                      type:
                                        type: string
                                      regex:
                                        type: string
                                      message:
                                        type: string
                                      description:
                                        type: string
                                or:
                                  type: string
                                optional:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      key:
                                        type: string
                                      type:
                                        type: string
                                      regex:
                                        type: string
                                      description:
                                        type: string
                            output:
                              allOf:
                              - $ref: '#/paths/~1journeys~1%7Bjourney_token%7D~1applications~1%7Bjourney_application_token%7D/get/responses/200/content/application~1json/schema/properties/terminal_reconciliation_output/allOf/0'
                              type: object
                              description: Data aggregated from the outputs of every
                                evaluation run for the entity application
                      entity:
                        description: The journey application entity
                        type: object
                        properties:
                          external_entity_identifier:
                            type: string
                          name:
                            type: string
                          token:
                            type: string
                          type:
                            type: string
                      entity_group:
                        description: The entity group associated with the application
                        type: object
                        properties:
                          name:
                            type: string
                          token:
                            type: string
                          type:
                            type: string
                            enum:
                            - business
                            - joint_account
                            - membership
                            - merchant
                      multi_environment_config:
                        allOf:
                        - type: object
                          properties:
                            multi_environment_config_token:
                              type: string
                            multi_environment_config_notes:
                              type: string
                            created_at:
                              type: string
                            journey_token:
                              type: string
                            journey_name:
                              type: string
                            journey_public_version:
                              type: number
                            actions:
                              description: List of journey actions that have been
                                configured as part of this Multi-Environment Configuration.
                              type: array
                              items:
                                type: object
                                properties:
                                  journey_action_id:
                                    type: number
                                  action_version:
                                    type: number
                                  action_name:
                                    type: string
                                  outcome:
                                    description: The outcome that all action nodes
                                      for this journey action will be decisioned to.
                                    type: string
                            workflows:
                              description: 'List of workflows that have been configured
                                as part of this Multi-Environment Configuration.

                                Workflows will either have an outcome or a list of
                                configured services.

                                '
                              type: array
                              items:
                                type: object
                                properties:
                                  workflow_name:
                                    type: string
                                  workflow_node_type:
                                    description: The type of node this workflow is
                                      used as, for example Step Up
                                    type: string
                                  workflow_token:
                                    type: string
                                  workflow_public_version:
                                    type: number
                                  outcome:
                                    description: The outcome that all workflow nodes
                                      using this workflow will be decisioned to.
                                    type: string
                                  configured_services:
[...]
